html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

body {
  max-width: 1440px;
  height: auto;
  margin: 0;
  font-family: Montserat, sans-serif;
  padding-top: 30px;
  padding-bottom: 0px;

}

@media screen and (max-width: 768px) {

  body {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
}