.card {
    background-color: #F6F6F6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 3rem;
}

@media screen and (width<=768px) {
    .card {
        justify-content: center;
        background-color: #FFFF;
        padding: 0%;
    }
}