.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /**/
    color: #FF6060;
    font-size: 24px;
    height: 68px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0%;
    width: 25%;
}

